@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,400;1,700&family=Roboto+Slab:wght@700&display=swap');

.example-card {
  /* max-width: 300px; */
  background-color: grey;
  margin-bottom: 2rem;
  border: 0.5rem groove rgb(233, 212, 25);
  margin-right: 1rem;
  color: black;
  font-family: 'Roboto Slab', serif;
}

.title {
  color: rgb(235, 247, 247);
  font-family: 'Roboto Slab', serif;
}

.example-header-image {
  background-image: url('https://cdn.icon-icons.com/icons2/930/PNG/512/star_icon-icons.com_72271.png');
  background-size: cover;
}

.card-group {
  margin-left: 5rem;
}

.imgIcon {
  width: 8rem;
  display: flex;
  background-color:white;
  margin: 0;
  margin-left: 4rem;
}

.hidden {
  display: none;
}

.displayPC {
  display: flex;
}


 @media screen and (max-width: 1040px) {
  .imgIcon {
    display: none;
  }
  .hidden {
    display: block;
  }
  .displayPC {
    display:none;
  }

}


