<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music App</title>
</head>

<body>

    <play-navbar></play-navbar>


  <div class="container-fluid">
    <play-carousel></play-carousel>
    <div class="space"></div>
    <play-search></play-search>
    <div class="space"></div>
    <play-album></play-album>
    <div class=""></div>

    <footer>
      <div class="footer footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> Music.com</a>
      </div>
    </footer>
  </div>



</body>
</html>
